<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>User Home</title>
</head>
<body>

<p>
    Welcome <span th:text="${user.getUsername()}">User</span>
</p>

<td th:each="role : ${user.getAuthorities()}">
    <p>
        Your role:<span th:text="${role.getAuthority()}"></span>
    </p>
</td>
<p>
    <a th:href="@{/logout}">Logout</a>
</p>

</body>
</html>